@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4 pt-xl-5">Bienvenue sur le site des JO de Paris 2024</h1>
    <img src="@Url.Content("~/img/JO PARIS.png")" class="shadow-sm rounded-4 pb-0" style="max-width: 50%" alt="logo jeux-olympiques" />
</div>
