@model List<Category>

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-9">
            <h2 class="text-body-tertiary">Choix Ticket</h2>
        </div>
        <div class="col-3 text-end"">
            <a asp-controller="" asp-action="" class="btn btn-danger"><i class="bi bi-plus-lg"></i></i>  Ajouter une catégorie de ticket</a>
        </div>
    </div>
<table class="table table-bordered table-responsive table-striped">
    <thead>
    <tr>
        <th>
            Catégorie ticket
        </th>
        <th>
            Description
        </th>
        <th>
            Prix
        </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.Description</td>
                <td>@obj.Price</td>
            </tr>
        }
    </tbody>
    </table>
</div>